In [ ]:
one_hot_encoded_train_set = pd.get_dummies(train_predictors)

In [1]:
import rpy2

In [2]:
import rpy2.robjects as robjects
from rpy2.robjects import pandas2ri
readRDS = robjects.r['readRDS']

In [3]:
#Load dataset
df = readRDS('/rds/general/user/md2620/home/ML_project/df_finished.rds')
df = pandas2ri.rpy2py_dataframe(df)

In [4]:
#Check shape of dataset
df.shape

(10670, 121)

In [5]:
#Check first five rows of dataframe
df.head(5)

,SEQN,LBDSALSI,LBXSATSI,LBXSASSI,LBXSAPSI,LBDSBUSI,LBDSCASI,LBDSCHSI,LBXSC3SI,LBDSCRSI,...,SMQ020,SMD100BR,SMD410,SMQ680,WHD010,WHD020,WHD050,WHD140,casecont,penta_id
1,51624.0,48.0,24.0,23.0,41.0,2.14,2.350,3.439,26.0,83.10,...,Yes,,No,No,66.0,200.0,180.0,200.0,0,537.0
2,51628.0,39.0,15.0,21.0,97.0,3.57,2.375,5.043,25.0,98.12,...,Yes,NEWPORT,Yes,Yes,66.0,240.0,225.0,250.0,0,445.0
3,51630.0,43.0,18.0,21.0,74.0,4.64,2.500,6.749,25.0,69.84,...,Yes,MARLBORO ULTRA LIGHT,No,Yes,67.0,190.0,197.0,197.0,0,1059.0
4,51633.0,43.0,22.0,25.0,60.0,5.71,2.375,4.707,24.0,73.37,...,Yes,,No,No,72.0,175.0,240.0,250.0,0,1.0
5,51635.0,43.0,13.0,18.0,94.0,5.71,2.450,3.724,23.0,79.56,...,Yes,,No,No,73.0,190.0,180.0,215.0,0,53.0

In [6]:
#Set SEQN as index for df
df = df.set_index(['SEQN'])

In [7]:
df.head(5)

,LBDSALSI,LBXSATSI,LBXSASSI,LBXSAPSI,LBDSBUSI,LBDSCASI,LBDSCHSI,LBXSC3SI,LBDSCRSI,LBXSGTSI,...,SMQ020,SMD100BR,SMD410,SMQ680,WHD010,WHD020,WHD050,WHD140,casecont,penta_id
SEQN,,,,,,,,,,,,,,,,,,,,,
51624.0,48.0,24.0,23.0,41.0,2.14,2.350,3.439,26.0,83.10,16.0,...,Yes,,No,No,66.0,200.0,180.0,200.0,0,537.0
51628.0,39.0,15.0,21.0,97.0,3.57,2.375,5.043,25.0,98.12,22.0,...,Yes,NEWPORT,Yes,Yes,66.0,240.0,225.0,250.0,0,445.0
51630.0,43.0,18.0,21.0,74.0,4.64,2.500,6.749,25.0,69.84,20.0,...,Yes,MARLBORO ULTRA LIGHT,No,Yes,67.0,190.0,197.0,197.0,0,1059.0
51633.0,43.0,22.0,25.0,60.0,5.71,2.375,4.707,24.0,73.37,11.0,...,Yes,,No,No,72.0,175.0,240.0,250.0,0,1.0
51635.0,43.0,13.0,18.0,94.0,5.71,2.450,3.724,23.0,79.56,15.0,...,Yes,,No,No,73.0,190.0,180.0,215.0,0,53.0

In [8]:
#Create target variable
target = df['casecont']
#Drop casecont once target is created
df.drop('casecont', axis = 1, inplace = True)

In [9]:
#Check df new shape
df.shape

(10670, 119)

In [10]:
#Remove variables that are not potential predictors of asthma attacks
#Specifically, remove age,gender,penta_id, some weights-related variables that are duplicates - WH (were useful for descriptive stats), ethnicity
df.drop(['penta_id','RIAGENDR','RIDAGEYR','RIDRETH1','WHD050','WHD020','WHD010'], axis =1, inplace = True)

In [11]:
#Check first five rows after drop of unrelevant variables
df.head(5)

,LBDSALSI,LBXSATSI,LBXSASSI,LBXSAPSI,LBDSBUSI,LBDSCASI,LBDSCHSI,LBXSC3SI,LBDSCRSI,LBXSGTSI,...,PAQ665,PAD680,SLD010H,SLQ050,SLQ060,SMQ020,SMD100BR,SMD410,SMQ680,WHD140
SEQN,,,,,,,,,,,,,,,,,,,,,
51624.0,48.0,24.0,23.0,41.0,2.14,2.350,3.439,26.0,83.10,16.0,...,No,480.0,4.0,Yes,No,Yes,,No,No,200.0
51628.0,39.0,15.0,21.0,97.0,3.57,2.375,5.043,25.0,98.12,22.0,...,No,240.0,4.0,No,No,Yes,NEWPORT,Yes,Yes,250.0
51630.0,43.0,18.0,21.0,74.0,4.64,2.500,6.749,25.0,69.84,20.0,...,No,240.0,8.0,Yes,Yes,Yes,MARLBORO ULTRA LIGHT,No,Yes,197.0
51633.0,43.0,22.0,25.0,60.0,5.71,2.375,4.707,24.0,73.37,11.0,...,Yes,60.0,6.0,No,No,Yes,,No,No,250.0
51635.0,43.0,13.0,18.0,94.0,5.71,2.450,3.724,23.0,79.56,15.0,...,No,540.0,9.0,No,No,Yes,,No,No,215.0

In [12]:
#Check variable types in dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
Float64Index: 10670 entries, 51624.0 to 102085.0
Columns: 112 entries, LBDSALSI to WHD140
dtypes: float64(45), object(67)
memory usage: 9.2+ MB

SPLIT THE DATASET

In [14]:
#Split the dataset
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(df, target, test_size=0.25, random_state=12)

In [15]:
#Print shape of X_train & X_test
print(X_train.shape)
print(X_test.shape)

(8002, 112)
(2668, 112)

In [16]:
#Print y_train to see what it looks like
y_train.shape

(8002,)

In [17]:
y_train.head(5)

SEQN
58640.0    0
71717.0    0
80552.0    1
55159.0    0
54023.0    0
Name: casecont, dtype: category
Categories (2, object): [0, 1]

In [18]:
#Check that it has successfully been implemented
X_train.head(3)

,LBDSALSI,LBXSATSI,LBXSASSI,LBXSAPSI,LBDSBUSI,LBDSCASI,LBDSCHSI,LBXSC3SI,LBDSCRSI,LBXSGTSI,...,PAQ665,PAD680,SLD010H,SLQ050,SLQ060,SMQ020,SMD100BR,SMD410,SMQ680,WHD140
SEQN,,,,,,,,,,,,,,,,,,,,,
58640.0,45.0,19.0,25.0,59.0,5.00,2.375,4.810,24.0,83.10,16.0,...,No,180.0,8.0,No,No,Yes,,No,No,268.0
71717.0,41.0,17.0,18.0,58.0,3.21,2.350,4.758,28.0,57.46,40.0,...,No,720.0,8.0,No,No,Yes,NEWPORT,Yes,Yes,240.0
80552.0,43.0,11.0,18.0,36.0,5.36,2.325,4.888,25.0,78.68,14.0,...,Yes,180.0,8.0,No,No,No,,None,None,175.0

In [19]:
#Check that it has successfully been implemented
X_test.head(3)

,LBDSALSI,LBXSATSI,LBXSASSI,LBXSAPSI,LBDSBUSI,LBDSCASI,LBDSCHSI,LBXSC3SI,LBDSCRSI,LBXSGTSI,...,PAQ665,PAD680,SLD010H,SLQ050,SLQ060,SMQ020,SMD100BR,SMD410,SMQ680,WHD140
SEQN,,,,,,,,,,,,,,,,,,,,,
52184.0,43.0,17.0,16.0,63.0,6.43,2.425,6.206,24.0,87.52,22.0,...,No,480.0,5.0,No,Yes,Yes,,No,No,240.0
51940.0,46.0,28.0,21.0,46.0,5.00,2.300,5.974,26.0,83.98,32.0,...,No,360.0,8.0,No,No,No,,No,No,230.0
64135.0,42.0,14.0,24.0,30.0,5.36,2.400,3.569,24.0,80.44,11.0,...,No,480.0,5.0,No,No,No,,No,No,132.0

In [20]:
#Check to what classes your variables belong
print(X_train.info())
print(X_test.info())

<class 'pandas.core.frame.DataFrame'>
Float64Index: 8002 entries, 58640.0 to 58997.0
Columns: 112 entries, LBDSALSI to WHD140
dtypes: float64(45), object(67)
memory usage: 6.9+ MB
None
<class 'pandas.core.frame.DataFrame'>
Float64Index: 2668 entries, 52184.0 to 54812.0
Columns: 112 entries, LBDSALSI to WHD140
dtypes: float64(45), object(67)
memory usage: 2.3+ MB
None

SPLIT X_TRAIN AND X_TEST INTO NUMERICAL AND CATEGORICAL DATAFRAMES

In [33]:
#Split X_train into two dataframes - one with only numerical variables and the other one with only categorical variables.
X_train_numerical = X_train.select_dtypes(include='float64')
X_train_categorical = X_train.select_dtypes(include='object')
X_test_numerical = X_test.select_dtypes(include='float64')
X_test_categorical = X_test.select_dtypes(include='object')

In [34]:
#Print columns of X_train_numerical, X_train_categorical, X_test_numerical & X_test_categorical to check if split was successful
print(X_train_numerical.columns)
print(X_train_categorical.columns)
print(X_test_numerical.columns)
print(X_test_categorical.columns)

Index(['LBDSALSI', 'LBXSATSI', 'LBXSASSI', 'LBXSAPSI', 'LBDSBUSI', 'LBDSCASI',
       'LBDSCHSI', 'LBXSC3SI', 'LBDSCRSI', 'LBXSGTSI', 'LBDSGLSI', 'LBDSIRSI',
       'LBXSLDSI', 'LBDSPHSI', 'LBDSTBSI', 'LBDSTPSI', 'LBDSTRSI', 'LBDSUASI',
       'LBXSNASI', 'LBXSKSI', 'LBXSCLSI', 'LBXSOSSI', 'LBDSGBSI', 'BMXWT',
       'BMXHT', 'BMXBMI', 'BMXLEG', 'BMXARML', 'BMXARMC', 'BMXWAIST', 'BMXTRI',
       'PEASCTM1', 'BPXPLS', 'BPXML1', 'BPXSY1', 'BPXDI1', 'DBQ197', 'DBD895',
       'HSQ470', 'HSQ480', 'HSQ493', 'HSQ496', 'PAD680', 'SLD010H', 'WHD140'],
      dtype='object')
Index(['BMDSTATS', 'PEASCST1', 'BPQ150A', 'BPQ150B', 'BPQ150C', 'BPQ150D',
       'BPACSZ', 'BPXPULS', 'DBQ700', 'DBQ229', 'DBQ915', 'DBQ920', 'DMDCITZN',
       'DMDEDUC2', 'DMDMARTL', 'DMDHHSIZ', 'INDHHIN2', 'DIQ010', 'DIQ160',
       'DIQ180', 'DIQ050', 'IMQ011', 'IMQ020', 'HSD010', 'HSQ500', 'HSQ510',
       'HSQ520', 'HSQ571', 'HSQ590', 'MCQ010', 'MCQ053', 'MCQ070', 'MCQ080',
       'MCQ082', 'MCQ086', 'MCQ092', 'MCQ140', 'MCQ160A', 'MCQ160N', 'MCQ160B',
       'MCQ160C', 'MCQ160D', 'MCQ160E', 'MCQ160F', 'MCQ160G', 'MCQ160M',
       'MCQ160K', 'MCQ160L', 'MCQ220', 'MCQ300A', 'MCQ300B', 'MCQ300C',
       'OCD150', 'OCD390G', 'PUQ100', 'PUQ110', 'PAQ605', 'PAQ620', 'PAQ635',
       'PAQ650', 'PAQ665', 'SLQ050', 'SLQ060', 'SMQ020', 'SMD100BR', 'SMD410',
       'SMQ680'],
      dtype='object')
Index(['LBDSALSI', 'LBXSATSI', 'LBXSASSI', 'LBXSAPSI', 'LBDSBUSI', 'LBDSCASI',
       'LBDSCHSI', 'LBXSC3SI', 'LBDSCRSI', 'LBXSGTSI', 'LBDSGLSI', 'LBDSIRSI',
       'LBXSLDSI', 'LBDSPHSI', 'LBDSTBSI', 'LBDSTPSI', 'LBDSTRSI', 'LBDSUASI',
       'LBXSNASI', 'LBXSKSI', 'LBXSCLSI', 'LBXSOSSI', 'LBDSGBSI', 'BMXWT',
       'BMXHT', 'BMXBMI', 'BMXLEG', 'BMXARML', 'BMXARMC', 'BMXWAIST', 'BMXTRI',
       'PEASCTM1', 'BPXPLS', 'BPXML1', 'BPXSY1', 'BPXDI1', 'DBQ197', 'DBD895',
       'HSQ470', 'HSQ480', 'HSQ493', 'HSQ496', 'PAD680', 'SLD010H', 'WHD140'],
      dtype='object')
Index(['BMDSTATS', 'PEASCST1', 'BPQ150A', 'BPQ150B', 'BPQ150C', 'BPQ150D',
       'BPACSZ', 'BPXPULS', 'DBQ700', 'DBQ229', 'DBQ915', 'DBQ920', 'DMDCITZN',
       'DMDEDUC2', 'DMDMARTL', 'DMDHHSIZ', 'INDHHIN2', 'DIQ010', 'DIQ160',
       'DIQ180', 'DIQ050', 'IMQ011', 'IMQ020', 'HSD010', 'HSQ500', 'HSQ510',
       'HSQ520', 'HSQ571', 'HSQ590', 'MCQ010', 'MCQ053', 'MCQ070', 'MCQ080',
       'MCQ082', 'MCQ086', 'MCQ092', 'MCQ140', 'MCQ160A', 'MCQ160N', 'MCQ160B',
       'MCQ160C', 'MCQ160D', 'MCQ160E', 'MCQ160F', 'MCQ160G', 'MCQ160M',
       'MCQ160K', 'MCQ160L', 'MCQ220', 'MCQ300A', 'MCQ300B', 'MCQ300C',
       'OCD150', 'OCD390G', 'PUQ100', 'PUQ110', 'PAQ605', 'PAQ620', 'PAQ635',
       'PAQ650', 'PAQ665', 'SLQ050', 'SLQ060', 'SMQ020', 'SMD100BR', 'SMD410',
       'SMQ680'],
      dtype='object')

In [35]:
#Look for NAs in each of the 4th dataframes before imputation
print(X_train_numerical.isnull().sum().sum())
print(X_train_categorical.isnull().sum().sum())
print(X_test_numerical.isnull().sum().sum())
print(X_test_categorical.isnull().sum().sum())

111821
159757
39212
55391

In [36]:
#For numerical columns in X_train & X_test replace by mean of each column all NAs in that column
X_train_numerical.fillna(X_train_numerical.mean(), inplace=True)
X_test_numerical.fillna(X_test_numerical.mean(), inplace=True)

/rds/general/user/md2620/home/.local/lib/python3.6/site-packages/pandas/core/generic.py:6245: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)

In [37]:
#Check that you have no NAs in your numerical dataframes anymore
print(X_train_numerical.isnull().sum().sum())
print(X_test_numerical.isnull().sum().sum())

0
0

In [38]:
#Load libraries
import numpy as np
import pandas as pd

In [39]:
print(X_train_categorical.info())
print(X_test_categorical.info())

<class 'pandas.core.frame.DataFrame'>
Float64Index: 8002 entries, 58640.0 to 58997.0
Data columns (total 67 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   BMDSTATS  7852 non-null   object
 1   PEASCST1  7205 non-null   object
 2   BPQ150A   5086 non-null   object
 3   BPQ150B   5086 non-null   object
 4   BPQ150C   5086 non-null   object
 5   BPQ150D   5086 non-null   object
 6   BPACSZ    6096 non-null   object
 7   BPXPULS   7561 non-null   object
 8   DBQ700    4823 non-null   object
 9   DBQ229    4414 non-null   object
 10  DBQ915    4685 non-null   object
 11  DBQ920    4685 non-null   object
 12  DMDCITZN  8000 non-null   object
 13  DMDEDUC2  4414 non-null   object
 14  DMDMARTL  4414 non-null   object
 15  DMDHHSIZ  8002 non-null   object
 16  INDHHIN2  7916 non-null   object
 17  DIQ010    8001 non-null   object
 18  DIQ160    4792 non-null   object
 19  DIQ180    4895 non-null   object
 20  DIQ050    8001 non-null   object
 21  IMQ011    7867 non-null   object
 22  IMQ020    8002 non-null   object
 23  HSD010    4857 non-null   object
 24  HSQ500    7092 non-null   object
 25  HSQ510    7092 non-null   object
 26  HSQ520    7092 non-null   object
 27  HSQ571    4215 non-null   object
 28  HSQ590    4215 non-null   object
 29  MCQ010    8001 non-null   object
 30  MCQ053    8001 non-null   object
 31  MCQ070    4409 non-null   object
 32  MCQ080    4823 non-null   object
 33  MCQ082    6419 non-null   object
 34  MCQ086    6419 non-null   object
 35  MCQ092    7008 non-null   object
 36  MCQ140    6531 non-null   object
 37  MCQ160A   4414 non-null   object
 38  MCQ160N   4414 non-null   object
 39  MCQ160B   4414 non-null   object
 40  MCQ160C   4414 non-null   object
 41  MCQ160D   4414 non-null   object
 42  MCQ160E   4414 non-null   object
 43  MCQ160F   4414 non-null   object
 44  MCQ160G   4414 non-null   object
 45  MCQ160M   4414 non-null   object
 46  MCQ160K   4414 non-null   object
 47  MCQ160L   4414 non-null   object
 48  MCQ220    4414 non-null   object
 49  MCQ300A   4414 non-null   object
 50  MCQ300B   7008 non-null   object
 51  MCQ300C   4414 non-null   object
 52  OCD150    4823 non-null   object
 53  OCD390G   4823 non-null   object
 54  PUQ100    6382 non-null   object
 55  PUQ110    6382 non-null   object
 56  PAQ605    5437 non-null   object
 57  PAQ620    5437 non-null   object
 58  PAQ635    5437 non-null   object
 59  PAQ650    5437 non-null   object
 60  PAQ665    5437 non-null   object
 61  SLQ050    4823 non-null   object
 62  SLQ060    4409 non-null   object
 63  SMQ020    4436 non-null   object
 64  SMD100BR  5494 non-null   object
 65  SMD410    6617 non-null   object
 66  SMQ680    4056 non-null   object
dtypes: object(67)
memory usage: 4.2+ MB
None
<class 'pandas.core.frame.DataFrame'>
Float64Index: 2668 entries, 52184.0 to 54812.0
Data columns (total 67 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   BMDSTATS  2610 non-null   object
 1   PEASCST1  2409 non-null   object
 2   BPQ150A   1660 non-null   object
 3   BPQ150B   1660 non-null   object
 4   BPQ150C   1660 non-null   object
 5   BPQ150D   1660 non-null   object
 6   BPACSZ    1975 non-null   object
 7   BPXPULS   2521 non-null   object
 8   DBQ700    1556 non-null   object
 9   DBQ229    1436 non-null   object
 10  DBQ915    1567 non-null   object
 11  DBQ920    1567 non-null   object
 12  DMDCITZN  2666 non-null   object
 13  DMDEDUC2  1436 non-null   object
 14  DMDMARTL  1436 non-null   object
 15  DMDHHSIZ  2668 non-null   object
 16  INDHHIN2  2642 non-null   object
 17  DIQ010    2668 non-null   object
 18  DIQ160    1566 non-null   object
 19  DIQ180    1602 non-null   object
 20  DIQ050    2668 non-null   object
 21  IMQ011    2607 non-null   object
 22  IMQ020    2668 non-null   object
 23  HSD010    1562 non-null   object
 24  HSQ500    2354 non-null   object
 25  HSQ510    2354 non-null   object
 26  HSQ520    2354 non-null   object
 27  HSQ571    1341 non-null   object
 28  HSQ590    1341 non-null   object
 29  MCQ010    2668 non-null   object
 30  MCQ053    2668 non-null   object
 31  MCQ070    1416 non-null   object
 32  MCQ080    1556 non-null   object
 33  MCQ082    2089 non-null   object
 34  MCQ086    2089 non-null   object
 35  MCQ092    2281 non-null   object
 36  MCQ140    2181 non-null   object
 37  MCQ160A   1436 non-null   object
 38  MCQ160N   1436 non-null   object
 39  MCQ160B   1436 non-null   object
 40  MCQ160C   1436 non-null   object
 41  MCQ160D   1436 non-null   object
 42  MCQ160E   1436 non-null   object
 43  MCQ160F   1436 non-null   object
 44  MCQ160G   1436 non-null   object
 45  MCQ160M   1436 non-null   object
 46  MCQ160K   1436 non-null   object
 47  MCQ160L   1436 non-null   object
 48  MCQ220    1436 non-null   object
 49  MCQ300A   1436 non-null   object
 50  MCQ300B   2281 non-null   object
 51  MCQ300C   1436 non-null   object
 52  OCD150    1556 non-null   object
 53  OCD390G   1556 non-null   object
 54  PUQ100    2058 non-null   object
 55  PUQ110    2058 non-null   object
 56  PAQ605    1771 non-null   object
 57  PAQ620    1771 non-null   object
 58  PAQ635    1771 non-null   object
 59  PAQ650    1771 non-null   object
 60  PAQ665    1771 non-null   object
 61  SLQ050    1556 non-null   object
 62  SLQ060    1416 non-null   object
 63  SMQ020    1444 non-null   object
 64  SMD100BR  1791 non-null   object
 65  SMD410    2226 non-null   object
 66  SMQ680    1302 non-null   object
dtypes: object(67)
memory usage: 1.4+ MB
None

ONE-HOT ENCODE CATEGORICAL VARIABLES IN BOTH TRAINING & TEST SETS

In [40]:
one_hot_encoded_X_train = pd.get_dummies(X_train_categorical)
one_hot_encoded_X_test = pd.get_dummies(X_test_categorical)
categorical_train, categorical_test = one_hot_encoded_X_train.align(one_hot_encoded_X_test,join='inner', axis=1)

In [41]:
categorical_train.head(5)

,BMDSTATS_Complete data for age group,BMDSTATS_No body measures exam data,BMDSTATS_Other partial exam,BMDSTATS_Partial: Only height and weight obtained,PEASCST1_Complete,PEASCST1_Not done,PEASCST1_Partial,BPQ150A_No,BPQ150A_Yes,BPQ150B_No,...,SMD100BR_SALEM ULTRA LIGHT,SMD100BR_SENECA,SMD100BR_TUCSON,SMD100BR_VIRGINIA SLIMS,SMD100BR_VIRGINIA SLIMS ULTRA LIGHT,SMD100BR_WINGS,SMD410_No,SMD410_Yes,SMQ680_No,SMQ680_Yes
SEQN,,,,,,,,,,,,,,,,,,,,,
58640.0,1,0,0,0,1,0,0,1,0,1,...,0,0,0,0,0,0,1,0,1,0
71717.0,1,0,0,0,1,0,0,1,0,1,...,0,0,0,0,0,0,0,1,0,1
80552.0,1,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
55159.0,1,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
54023.0,1,0,0,0,1,0,0,1,0,1,...,0,0,0,0,0,0,1,0,1,0

In [42]:
categorical_test.head(5)

,BMDSTATS_Complete data for age group,BMDSTATS_No body measures exam data,BMDSTATS_Other partial exam,BMDSTATS_Partial: Only height and weight obtained,PEASCST1_Complete,PEASCST1_Not done,PEASCST1_Partial,BPQ150A_No,BPQ150A_Yes,BPQ150B_No,...,SMD100BR_SALEM ULTRA LIGHT,SMD100BR_SENECA,SMD100BR_TUCSON,SMD100BR_VIRGINIA SLIMS,SMD100BR_VIRGINIA SLIMS ULTRA LIGHT,SMD100BR_WINGS,SMD410_No,SMD410_Yes,SMQ680_No,SMQ680_Yes
SEQN,,,,,,,,,,,,,,,,,,,,,
52184.0,1,0,0,0,1,0,0,0,1,1,...,0,0,0,0,0,0,1,0,1,0
51940.0,1,0,0,0,1,0,0,1,0,1,...,0,0,0,0,0,0,1,0,1,0
64135.0,1,0,0,0,1,0,0,1,0,1,...,0,0,0,0,0,0,1,0,1,0
61327.0,1,0,0,0,1,0,0,1,0,1,...,0,0,0,0,0,0,1,0,1,0
51822.0,1,0,0,0,1,0,0,1,0,1,...,0,0,0,0,0,0,0,1,0,1

In [43]:
#Check number of NAs in categorical_train & categorical_test after one-hot encoding - shall be 0
print(categorical_train.isnull().sum().sum())
print(categorical_test.isnull().sum().sum())

0
0

NORMALIZE THE NUMERICAL VARIABLES

In [44]:
from sklearn.preprocessing import StandardScaler

In [45]:
#Normalize X_train_numerical
sc = StandardScaler()
sc.fit(X_train_numerical)
X_train_numerical = pd.DataFrame(sc.transform(X_train_numerical), index = X_train_numerical.index, columns = X_train_numerical.columns)

In [46]:
#Make sure it is a standardized dataframe
X_train_numerical.head(5)

,LBDSALSI,LBXSATSI,LBXSASSI,LBXSAPSI,LBDSBUSI,LBDSCASI,LBDSCHSI,LBXSC3SI,LBDSCRSI,LBXSGTSI,...,BPXDI1,DBQ197,DBD895,HSQ470,HSQ480,HSQ493,HSQ496,PAD680,SLD010H,WHD140
SEQN,,,,,,,,,,,,,,,,,,,,,
58640.0,9.691139e-01,-0.308545,0.026750,-0.545771,3.434071e-01,1.836622e-01,-2.160481e-02,-6.898926e-01,2.696508e-01,-0.347502,...,-0.247733,-0.195582,-0.525482,-0.372889,-0.802806,-1.168282e-01,-9.301307e-01,-1.141405,1.0839,1.715971
71717.0,-4.619780e-01,-0.479643,-0.708059,-0.566575,-8.001147e-01,-1.561095e-01,-8.152819e-02,1.598887e+00,-5.395014e-01,0.595319,...,0.205475,0.766813,0.420147,-0.712303,-0.802806,-6.296463e-01,-9.301307e-01,2.037510,1.0839,1.067723
80552.0,2.535680e-01,-0.992937,-0.708059,-1.024264,5.733892e-01,-4.958812e-01,6.828027e-02,-1.176976e-01,1.301636e-01,-0.426071,...,-0.247733,-1.157978,-0.210272,0.000000,0.000000,-7.591234e-17,1.314358e-16,-1.141405,1.0839,-0.437138
55159.0,-2.542130e-15,0.000000,0.000000,0.000000,-3.858340e-14,3.017779e-14,-1.023513e-15,2.032845e-15,3.587752e-15,0.000000,...,0.000000,0.766813,-0.525482,0.000000,0.000000,-7.591234e-17,1.314358e-16,0.000000,0.0000,0.000000
54023.0,6.113409e-01,0.290297,1.286424,-0.254515,-1.165570e-01,8.632057e-01,-1.392928e+00,1.026692e+00,1.301636e-01,-0.583208,...,0.658683,0.766813,-0.210272,-0.712303,-0.802806,-6.296463e-01,3.509377e+00,-0.081766,1.0839,0.000000

In [47]:
#Apply scaler to test set
X_test_numerical = pd.DataFrame(sc.transform(X_test_numerical), index = X_test_numerical.index, columns = X_test_numerical.columns)

In [48]:
#Make sure it is a standardized dataframe too
X_test_numerical.head(5)

,LBDSALSI,LBXSATSI,LBXSASSI,LBXSAPSI,LBDSBUSI,LBDSCASI,LBDSCHSI,LBXSC3SI,LBDSCRSI,LBXSGTSI,...,BPXDI1,DBQ197,DBD895,HSQ470,HSQ480,HSQ493,HSQ496,PAD680,SLD010H,WHD140
SEQN,,,,,,,,,,,,,,,,,,,,,
52184.0,0.253568,-0.479643,-0.918005,-0.462555,1.256947,0.863206,1.587108,-0.689893,0.409138,-0.111797,...,0.658683,-0.195582,-0.840691,-0.712303,0.324223,-0.629646,3.509377,0.624659,-1.678601,1.067723
51940.0,1.326887,0.461395,-0.393141,-0.816223,0.343407,-0.835653,1.319757,0.454497,0.297422,0.281045,...,0.809753,-0.195582,-0.210272,-0.542596,-0.802806,-0.458707,-0.782147,-0.081766,1.083900,0.836206
64135.0,-0.104205,-0.736290,-0.078222,-1.149088,0.573389,0.523434,-1.451699,-0.689893,0.185706,-0.543924,...,0.205475,-0.195582,0.420147,-0.712303,-0.480798,-0.629646,-0.634163,0.624659,-1.678601,-1.432661
61327.0,-2.250843,0.033651,0.341669,-0.816223,-1.253690,1.202977,-0.915846,1.598887,-0.957963,1.106014,...,1.111892,-0.195582,0.104938,2.003010,2.095269,0.566929,2.621476,0.271446,2.004734,-0.321379
51822.0,-1.893070,0.632493,-0.288168,-0.462555,0.343407,-0.835653,0.097090,-1.834283,-0.148811,0.595319,...,-0.700941,0.766813,0.104938,-0.712303,-0.802806,-0.629646,-0.930131,-1.494617,1.083900,1.878033

In [49]:
#Print the shapes of the 4 dataframes
print(X_train_numerical.shape)
print(X_test_numerical.shape)
print(categorical_train.shape)
print(categorical_test.shape)

(8002, 45)
(2668, 45)
(8002, 277)
(2668, 277)

In [50]:
#Now that imputation has been successfully made for both numerical and categorical variables, 
#Merge back categorical_train and X_train_numerical and rename it to X_train. 
X_train = pd.concat([X_train_numerical, categorical_train], axis=1)

In [51]:
#Now that imputation has been successfully made for both numerical and categorical variables, 
#Merge back X_test_categorical and X_test_numerical and rename it to X_test. 
X_test = pd.concat([X_test_numerical, categorical_test], axis=1)

In [52]:
#Make sure you have null values in both datasets after concatenate
print(X_train.isnull().sum().sum())
print(X_test.isnull().sum().sum())

0
0

In [53]:
#Make sure that X_train and X_test have same number of columns
print(X_train.shape)
print(X_test.shape)

(8002, 322)
(2668, 322)

In [54]:
#Look at first five rows of X_train
X_train.head(5)

,LBDSALSI,LBXSATSI,LBXSASSI,LBXSAPSI,LBDSBUSI,LBDSCASI,LBDSCHSI,LBXSC3SI,LBDSCRSI,LBXSGTSI,...,SMD100BR_SALEM ULTRA LIGHT,SMD100BR_SENECA,SMD100BR_TUCSON,SMD100BR_VIRGINIA SLIMS,SMD100BR_VIRGINIA SLIMS ULTRA LIGHT,SMD100BR_WINGS,SMD410_No,SMD410_Yes,SMQ680_No,SMQ680_Yes
SEQN,,,,,,,,,,,,,,,,,,,,,
58640.0,9.691139e-01,-0.308545,0.026750,-0.545771,3.434071e-01,1.836622e-01,-2.160481e-02,-6.898926e-01,2.696508e-01,-0.347502,...,0,0,0,0,0,0,1,0,1,0
71717.0,-4.619780e-01,-0.479643,-0.708059,-0.566575,-8.001147e-01,-1.561095e-01,-8.152819e-02,1.598887e+00,-5.395014e-01,0.595319,...,0,0,0,0,0,0,0,1,0,1
80552.0,2.535680e-01,-0.992937,-0.708059,-1.024264,5.733892e-01,-4.958812e-01,6.828027e-02,-1.176976e-01,1.301636e-01,-0.426071,...,0,0,0,0,0,0,0,0,0,0
55159.0,-2.542130e-15,0.000000,0.000000,0.000000,-3.858340e-14,3.017779e-14,-1.023513e-15,2.032845e-15,3.587752e-15,0.000000,...,0,0,0,0,0,0,1,0,0,0
54023.0,6.113409e-01,0.290297,1.286424,-0.254515,-1.165570e-01,8.632057e-01,-1.392928e+00,1.026692e+00,1.301636e-01,-0.583208,...,0,0,0,0,0,0,1,0,1,0

In [55]:
#Look at first five rows of X_test
X_test.head(5)

,LBDSALSI,LBXSATSI,LBXSASSI,LBXSAPSI,LBDSBUSI,LBDSCASI,LBDSCHSI,LBXSC3SI,LBDSCRSI,LBXSGTSI,...,SMD100BR_SALEM ULTRA LIGHT,SMD100BR_SENECA,SMD100BR_TUCSON,SMD100BR_VIRGINIA SLIMS,SMD100BR_VIRGINIA SLIMS ULTRA LIGHT,SMD100BR_WINGS,SMD410_No,SMD410_Yes,SMQ680_No,SMQ680_Yes
SEQN,,,,,,,,,,,,,,,,,,,,,
52184.0,0.253568,-0.479643,-0.918005,-0.462555,1.256947,0.863206,1.587108,-0.689893,0.409138,-0.111797,...,0,0,0,0,0,0,1,0,1,0
51940.0,1.326887,0.461395,-0.393141,-0.816223,0.343407,-0.835653,1.319757,0.454497,0.297422,0.281045,...,0,0,0,0,0,0,1,0,1,0
64135.0,-0.104205,-0.736290,-0.078222,-1.149088,0.573389,0.523434,-1.451699,-0.689893,0.185706,-0.543924,...,0,0,0,0,0,0,1,0,1,0
61327.0,-2.250843,0.033651,0.341669,-0.816223,-1.253690,1.202977,-0.915846,1.598887,-0.957963,1.106014,...,0,0,0,0,0,0,1,0,1,0
51822.0,-1.893070,0.632493,-0.288168,-0.462555,0.343407,-0.835653,0.097090,-1.834283,-0.148811,0.595319,...,0,0,0,0,0,0,0,1,0,1

In [56]:
#Print info of both X_train and X_test before saving
print(X_train.info())
print(X_test.info())

<class 'pandas.core.frame.DataFrame'>
Float64Index: 8002 entries, 58640.0 to 58997.0
Columns: 322 entries, LBDSALSI to SMQ680_Yes
dtypes: float64(45), uint8(277)
memory usage: 4.9 MB
None
<class 'pandas.core.frame.DataFrame'>
Float64Index: 2668 entries, 52184.0 to 54812.0
Columns: 322 entries, LBDSALSI to SMQ680_Yes
dtypes: float64(45), uint8(277)
memory usage: 1.6 MB
None

In [63]:
y_test.head(5)

SEQN
52184.0    1
51940.0    0
64135.0    0
61327.0    0
51822.0    0
Name: casecont, dtype: category
Categories (2, object): [0, 1]

In [58]:
#Save training set 
X_train.to_csv('X_train_encoded.csv', index=True)

In [59]:
#Save test set 
X_test.to_csv('X_test_encoded.csv', index=True)

In [64]:
#Save y_train
y_train.to_csv('y_train_encoded.csv',index=True)

In [65]:
#Save y_test
y_test.to_csv('y_test_encoded.csv',index=True)